.header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;

  &_box {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;

  }

  &_esse {
    width: 450px;
    align-self: center;
  }

  &_title {
    padding-top: 90px;
    color: #8ad6eb;
    font-size: 70px;
    font-weight: 900;
  }

  &_text {
    color: #86c2d3;
    font-size: 23px;
    padding: 10px;
  }
.header_img{
  display: flex;
  align-self: center;
 padding-top: 30px;
}
  

  @keyframes colorful-shadow {
    0% {
      box-shadow: 0px 1px 20px rgba(42, 42, 42, 0.8);
    }
    25% {
      box-shadow: 0px 1px 20px rgba(74, 74, 74, 0.8);
    }
    50% {
      box-shadow: 0px 1px 20px rgba(97, 97, 97, 0.8);
    }
    75% {
      box-shadow: 0px 1px 20px rgba(164, 164, 164, 0.8);
    }
    100% {
      box-shadow: 0px 1px 20px rgba(209, 209, 209, 0.8);
    }
  }

  // Media uchun qoidalar
  @media (max-width: 1024px) {
    
    .img_izana{
      width: 400px;
      height: 100%;
    }
    &_title {
      font-size: 60px;
      padding-top: 50px;
    }
  }

  @media (max-width: 768px) {
   &_box{
   flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
   }
    &_esse {
   
      width:380px;
    }
    &_title {
      font-size: 45px;
    }
   
    .img_izana{
      width: 300px;
      height: 100%;
      
    }
    &_text {
      font-size: 20px;
    }
  }

  @media (max-width: 425px) {
    &_box {
      display: flex;
      justify-content: center;
     }
    &_esse {
      width: 300px;
    }
    &_title {
      font-size: 40px;
    }
    &_text {
      font-size: 16px;
    }
  }

  @media (max-width: 375px) {
    &_esse {
      width: 280px;
    }
    &_title {
      font-size: 35px;
    }
    &_text {
      font-size: 14px;
    }
  }
}
