.header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;
    &_box {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    &_esse {
        width: 450px;
        align-self: center;
    }

    &_title {
        padding-top: 90px;
        color: #8ad6eb;
        font-size: 70px;
        font-weight: 900;
    }

    &_text {
        color: #86c2d3;
        font-size: 23px;
        padding: 10px;
    }

}

// .img_izana {
//     border-radius: 50%; /* Rasm shakli uchun */
//     box-shadow: 35px 30px 10px rgba(3, 47, 57, 0.9); /* To'g'ri qiymatlar */

// }
.img_izana {
    border-radius: 50%; /* Rasm shakli uchun */
    animation: colorful-shadow 2s infinite; /* Animatsiya qo'shish */
  }
  
  /* @keyframes animatsiyasi */
  @keyframes colorful-shadow {
    0% {
      box-shadow: 0px 1px 20px rgba(42, 42, 42, 0.8); /* Qizil */
    }
    25% {
      box-shadow:0px 1px 20px rgba(74, 74, 74, 0.8); /* Yashil */
    }
    50% {
      box-shadow: 0px 1px 20px rgba(97, 97, 97, 0.8); /* Ko'k */
    }
    75% {
      box-shadow: 0px 1px 20px rgba(164, 164, 164, 0.8); /* Sariq */
    }
    100% {
      box-shadow: 0px 1px 20px rgba(209, 209, 209, 0.8); /* Pushti */
    }
  }
  
